@import url(https://fonts.google.com/noto/specimen/Noto+Serif+Display/tester);
@import url(https://fonts.google.com/specimen/Roboto+Condensed);

.Error{
    color: red;
    font-family: 'Roboto Condensed', serif;
  }
  

  .new-people__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: 'Noto Serif Display', serif;
  }
  
  .new-people__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-people__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-people__actions {
    text-align: right;
  }